@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

@widthCard: 275px;
@work: hsl(15, 100%, 70%);
@play: hsl(195, 74%, 62%);
@study: hsl(348, 100%, 68%);
@exercise: hsl(145, 58%, 55%);
@social: hsl(264, 64%, 52%);
@selfCare: hsl(43, 84%, 65%);
@VdarkBlue: hsl(226, 43%, 10%);
@darkBlue: hsl(235, 46%, 20%);
@desblue: hsl(235, 45%, 61%);
@paleBlue: hsl(236, 100%, 87%);
@blue: hsl(246, 80%, 60%);

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: @VdarkBlue;
  font-family: "Rubik";
}

section {
  display: flex;
  justify-content: center;
  margin-top: calc(50vh - 225px);
}

.container {
  width: 80%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @VdarkBlue;

  .mainCard {
    width: 200px;
    height: 424px;
    grid-area: mainCard;
    background-color: @darkBlue;
    border-radius: 16px;
    margin-right: 12px;

    .profile {
      width: 100%;
      height: 70%;
      padding: 20px;
      background-color: @blue;
      border-radius: 16px;

      .imgProfile {
        background-color: #fff;
        width: 80px;
        height: 80px;
        margin-bottom: 32px;
        border-radius: 50%;
        .center();

        img {
          width: 70px;
          height: 70px;
        }
      }

      .nameProfile {
        p:nth-child(1) {
          color: @paleBlue;
          font-weight: 300;
          font-size: 12px;
          margin: 0;
        }

        p:nth-child(2) {
          color: #fff;
          font-size: 35px;
          font-weight: 300;
          margin: 0;
        }
      }
    }

    .options {
      padding: 20px;

      p {
        color: @desblue;
        margin: 0 0 10px 0;
        cursor: pointer;

        &:hover {
          color: @paleBlue;
        }
      }
    }
  }

  .cardGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .card {
      width: 200px;
      height: 200px;
      margin: 12px;
      border-radius: 16px;
      position: relative;

      img {
        position: absolute;
        right: 0;
        margin-right: 16px;
      }

      .contentCard {
        width: 100%;
        height: 75%;
        padding: 20px;
        position: absolute;
        bottom: 0;
        background-color: @darkBlue;
        border-radius: 12px;

        &:hover {
          background-color: #2b3077;
          cursor: pointer;
        }

        .upContent {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            color: #fff;
            font-weight: 500;
          }
        }

        .middleContent {
          margin-top: 16px;

          .hours {
            margin: 0;
            font-size: 40px;
            font-weight: 300;
            color: #fff;
          }
          .lastMoment {
            margin: 8px 0 0 0;
            font-weight: 300;
            font-size: 13px;
            color: @paleBlue;
          }
        }
      }
    }

    .cdColor:nth-child(1) {
      background-color: @work;
    }
    .cdColor:nth-child(2) {
      background-color: @play;
    }
    .cdColor:nth-child(3) {
      background-color: @study;
    }
    .cdColor:nth-child(4) {
      background-color: @exercise;
    }
    .cdColor:nth-child(5) {
      background-color: @social;
    }
    .cdColor:nth-child(6) {
      background-color: @selfCare;
    }
  }
}

@media (max-width: 375px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;

    .mainCard {
      width: @widthCard;
      height: 175px;
      margin: 0 0 12px 0;

      .profile {
        .center();
        height: 65%;

        .nameProfile {
          p:nth-child(1) {
            font-size: 14px;
          }

          p:nth-child(2) {
            font-size: 20px;
          }
        }

        .imgProfile {
          width: 55px;
          height: 55px;
          margin: 0 10px 0 0;

          img {
            width: 50px;
            height: 50px;
          }
        }
      }

      .options {
        display: flex;
        justify-content: space-around;
        align-items: center;

        p {
          margin: 0;
        }
      }
    }

    .cardGroup {
      grid-template-columns: 1fr;

      .card {
        width: @widthCard;
        height: 150px;

        .contentCard {
          .middleContent {
            .center_spaceBetween();

            .hours {
              margin: 0;
              font-size: 30px;
            }
            .lastMoment {
              margin: 8px 0 0 0;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
